@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
html {
  scroll-behavior: smooth;
}
.ease-in-out:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.animate {
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-55%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(55%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
